
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

hr{
    height: 2px;
    background-color: black;
}

.b1{
    margin: 5px;
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.b2{
    margin: 5px;
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}


#b1{
    background-color: rgb(8, 134, 92);
}
#b2{
    background-color: rgb(69, 189, 69);
    border: 0px;
    border-radius: 15px;
}
#b3{
    background-color: rgb(20, 172, 113);
    width: 200px;
    padding-bottom: 8px;
}
#b4{
    background-color: rgb(35, 117, 172);
    width: 150px;
    border-radius: 15px;
}