

body{
    text-align: center;
    background-color: cornflowerblue;
}
button{
    color: brown;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 12px;
}