
*{
    margin: 5;
    padding: 0;
    font-size: 20px;
}

hr{
    height: 2px;
    background-color: black;
}

.b1{
    margin: 5px;
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
}


#b3{
    background-color: rgb(22, 233, 163);
}
#b1{
    background-color: lightgreen;
    border: 0px;
    border-radius: 15px;
}
#b2{
    background-color: rgb(201, 142, 142);
    width: 200px;
    padding-bottom: 5px;
}