body{
    text-align: center;
    /* background-color: cornflowerblue; */
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: 60% 400%;
    background-position: center;
}
button{
    color: brown;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 12px;
}